@model IEnumerable<Outfits.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Krepšelis</h1>
<div>
<table class="table">
    <thead>
        <tr>
            <th>
                Pavadinimas
            </th>
            <th>
                Kaina
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ double suml = 0.0; }
        @foreach (var item in Model)
        {
            @if (item.HasInCart.Contains("*" + User.Identity.Name + "*"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="card-text">@Html.DisplayFor(modelItem => item.Price) €</a>
                    </td>
                    <td>
                        <a>@Html.ActionLink("Pasalinti is krepselio", "RemoveFromCart", new { id = item.Id })</a>
                    </td>
                </tr>
                suml = suml + item.Price;
            }



        }
        <tr>
            <td class="font-weight-bold">Visa kaina:</td>
            <td> @suml €</td>
        </tr>
    </tbody>

</table>
    <button class="btn btn-primary">Apmokėti</button>
</div>

