@model Outfits.Models.OutfitPost

@{
    ViewData["Title"] = "Create";
}

<h1>Įkelti naują skelbimą</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" required />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" required />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product1" class="control-label"> Pasirinkite produktus, kurie yra skelbime</label>
                
                <select asp-for="Product1" class="form-control" asp-items="ViewBag.Products">
                </select>
                <span asp-validation-for="Product1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product2" class="control-label"> --------------------------------------------- </label>
                <select asp-for="Product2" class="form-control" asp-items="ViewBag.Products">
                </select>
                <span asp-validation-for="Product2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product3" class="control-label"> --------------------------------------------- </label>                
                <select asp-for="Product3" class="form-control" asp-items="ViewBag.Products">
                </select>
                <span asp-validation-for="Product3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Go Back to OutfitPost List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

