@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Outfits application</h1>
    <p> T120B029 Programų sistemų analizės ir projektavimo įrankiai projektas</p>
    <p>Kuriama aprangų išrinkimo svetainė.</p>
    <p>Komandą surado:</p>
    <p>Tomas Sinkevičius, Domantas Juškevičius, Andrius Leksas, Inesa Milkerytė, Urtė Šlėgaitytė.</p>
</div>
